.formControl input, textarea {
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid var(--main-color-300);
    box-shadow: var(--main-shadow-100);
    font-size: 14px;
    width: 100%;
    margin: 5px 0 10px;
    color: var(--main-color-500);
}

.formControl input[type=checkbox] {
   width: 16px;
    height: 16px;
    accent-color: var(--main-color-400);
}

.formControl.error input {

}

.formControl.error textarea {
    border: 2px solid var(--error-color-100);
}

.formControl.error span {
    color: var(--error-color-100);
}

.formSummaryError {
    border: 2px solid var(--error-color-100);
    padding: 5px;
    color: var(--error-color-100);
}