.wrapper {
    max-width: 300px;

}

.item {
    padding: 5px 0;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color-400);
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color-500);
}


.contacts {
    padding: 20px 0;
}