.link {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: var(--main-shadow-100);
    width: 178px;
    gap: 10px;
    align-items: center;
    text-decoration: none;

    &:hover {
        background-color: var(--font-color-100);
        box-shadow: var(--main-shadow-200)

    }

    &:visited {
        color: var(--main-color-500);
    }

    &:active {
        background-color: var(--main-color-300);
    }

    &:active span, &:active svg {
        color: var(--font-color-100);
    }
}


.active {
    background-color: var(--main-color-300);

    &:hover {
        background-color: var(--font-color-100);
    }
}

.active span, .active svg {
    color: var(--font-color-100);

    &:hover {
        color: var(--main-color-400);
    }
}

.active:hover span, .active:hover svg {
    color: var(--main-color-400);

}

.linkText {
    text-decoration: none;
}