.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 64px auto;
}

.menu {
    grid-row-start: 2;
    min-height: calc(100vh - 64px);
}

.content {
    padding: 0 20px;
    background-color: white;
    grid-row-start: 2;
    grid-column-start: 2;
}
