.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    background-color: var(--main-color-300);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
}

.logo {
    width: 100px;
}

.loginInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.link {
    text-decoration: none;
    &:visited {
        all: unset;
    }
}