.header {
    grid-area: h;
    background-color: darkslategray;
}

.header img {
    margin-top: 5px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.loginBlock {
    float: right;
    padding: 15px;
}

.loginBlock a{
    color: white;
    text-decoration: none;
}

.login {
    color: white;
}

.button {
    width: 80px;
    height: 30px;
    background-color: lavender;
    border: none;
    color: darkslategray;
    margin-left: 10px;
}

