.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    background-color: var(--main-color-300);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);

}

.logo {
    width: 100px;
}

.loginInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: var(--font-color-100);

}

.iconMenu {
    font-size: 16px;
    width: 64px;
    height: 64px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color:var(--font-color-100);
    color: var(--main-color-400);

}

.button a {
    text-decoration: none;
    &:visited {
        all: unset;
    }

}