img {
    width: 100%;
}
.descriptionBlock {
    padding: 10px;
    display: flex;
    align-items: start;
    gap: 50px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
}

.mainPhoto {
    max-width: 200px;
}
