img {
    width: 100%;
}
.descriptionBlock {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.descriptionBlock img {
    max-width: 500px;
}
.infoBlock {
    display: flex;
    flex-direction: column;
}

