img {
    width: 100%;
}
.descriptionBlock {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.descriptionBlock img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

