.captchaImage {
    width: 250px;
}

.captchaInput {
    width: 500px;
}

.buttonLogin {
    width: 200px;
    margin: 20px 0;
}

.rememberMeBlock {
    position: relative;
    display: flex;
    width: 150px;
}

.checkbox {
    width: 30px;
    margin-top: 20px;
}