.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rebeccapurple;
}

.dialogs img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: rebeccapurple;
}
