.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.inputWrapper {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid var(--main-color-300);
    box-shadow: var(--main-shadow-100);
    margin: 5px 0;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    accent-color: var(--main-color-400);
}

.buttonLogin {
    background-color: var(--main-color-400);
    padding: 10px 16px;
}

.rememberMeBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.error {
    color: var(--error-color-100);
}

.captchaImage {
    width: 250px;
    border: 1px solid var(--main-color-300);
    box-shadow: var(--main-shadow-100);
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.captcha {
    margin-bottom: 20px;
}

.textButton {
    color: var(--font-color-100);
}